body {
  background-color: beige;
}

* {
  box-sizing: border-box;
}

img {
  width: 400px;
}

.nav {
  text-align: center;
  font-size: 20px;
  font-family: helvetica; sans-serif;
  font-weight: lighter;
  width: 400px;
  height: 20px;
  margin-left: auto;
  margin-right:auto;
}

.nav li {
  display:inline-block;;
  margin: 0 25;
}

li {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: salmon
}

.active {
color: #salmon;
}

.border {

  margin-top: 30px;
  border: 1px solid grey;
}

.impressum {
  text-align: center;
  font-family: helvetica; sans-serif;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 600px;
}

.cv li {
  font-family: helvetica;
}
