body {

}

* {
  box-sizing: border-box;
  font-family: Crete Round; sans-serif;
  font-weight: 100;
  padding:0;
  margin:0;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 180px;
  position: fixed;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
  background-color: white;
  z-index: 1;
}

.nav img {
  width: 250px;
  position: fixed;
  padding-top: 20px;
  left: 40px;
}

.nav {
  position: fixed;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  height: 170px;
  padding-left: 800px;
  text-align: right;
}

.nav li {
  padding-top: 120px;
  display: inline-block;
  margin: 0 40px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: salmon
}

span {
  color: salmon;
}

.content {
  position: absolute;
  top: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 630;
  text-align: center;
  z-index: 0;
}

.bildhome img {
  width: 100%;
  border-style: none;
}

.portfolio {
  border-style: solid;
  border-width: 1px;
  border-style: none;
  padding-bottom: 50px;
}

.contentcv {
  font-family: helvetica;
  font-weight: lighter;
}

.contentcv img {
  float: left;
  width: 235px;
  padding-right: 30px;
}

.cvtext {
  width: 950px;
  text-align: left;
  line-height: 30px;
}

hr {
  border: 0.5px solid;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.portfolioimage {
  border-style: solid;
  border-width: 1px;
}

.arrow img {
  height: 40px;
  weight: 40px;
  border-style: none;
  padding-right: 20px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  float: left;
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  margin: 30px;
  border: 0.5px solid;
  border-color: grey;
  opacity:0.4;
  filter: 40;
}

.box1 {
  background-image: url('../images/glueck.jpg');
}

.box2 {
  background-image: url('../images/ohrenmoire.jpg');
}

.box3 {
  background-image: url('../images/elch_1.jpg');
}

.box4 {
  background-image: url('../images/messer.jpg');
}

.box5 {
  background-image: url('../images/berg.jpg');
}

.box6 {
  background-image: url('../images/kinder.jpg');
}

.box1:hover {
  opacity:1.0;
  filter:100;
}

.box2:hover {
  opacity:1.0;
  filter:100;
}

.box3:hover {
  opacity:1.0;
  filter:100;
}

.box4:hover {
  opacity:1.0;
  filter:100;
}

.box5:hover {
  opacity:1.0;
  filter:100;
}

.box6:hover {
  opacity:1.0;
  filter:100;
}

.impressum {
  position: absolute;
  color: white;
  width: 100%;
  height: 100px;
  bottom:0;
  text-align: center;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px;
  border-top-style: solid;
  border-top-color: black;
  padding-top: 35px;
  z-index: 1;
}
