@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

html, body {
  height: 100%;
}

main {
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
}

input {
  display: none;
}

label {
  padding: 15px 25px;
  font-weight: 600;
  color: #bbb;
}

label:hover {
  color: salmon;
  cursor: pointer;
}

input:checked + label {
  color: salmon;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
